asgiref==3.6.0
channels==4.0.0
Django==4.1.7
django_email_verification==0.3.1
django_rest_knox==4.2.0
Django_Verify_Email==2.0.3
djangorestframework==3.14.0
djangorestframework_jwt==1.11.0
 
python-dotenv==1.0.0
six==1.16.0
verify_email==2.4.3
